@model EditAccountViewModel
@{
    ViewData["Title"] = $"Edit {Model.UserName}";
}

<h3>Edit @Model.UserName</h3>
<form asp-action="Edit" method="post" class="form-horizontal">
    <input asp-for="UserName" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="form-group"><label asp-for="DisplayName" class="col-md-3 control-label"></label><div class="col-md-6"><input asp-for="DisplayName" class="form-control" /><span asp-validation-for="DisplayName" class="text-danger"></span></div></div>
    <div class="form-group"><label asp-for="Email" class="col-md-3 control-label"></label><div class="col-md-6"><input asp-for="Email" class="form-control" /><span asp-validation-for="Email" class="text-danger"></span></div></div>
    <div class="form-group"><label asp-for="Description" class="col-md-3 control-label"></label><div class="col-md-6"><textarea asp-for="Description" rows="4" class="form-control"></textarea><span asp-validation-for="Description" class="text-danger"></span></div></div>
    @if (User.IsInRole(RoleNames.Administrator))
    {
        <div class="form-group"><label asp-for="IsAdministrator" class="col-md-3 control-label"></label><div class="col-md-6"><div class="switch"><input asp-for="IsAdministrator" data-size="small" /></div><span asp-validation-for="IsAdministrator" class="text-danger"></span></div></div>
    }
    <div class="form-group"><label asp-for="CurrentPassword" class="col-md-3 control-label"></label><div class="col-md-6"><input asp-for="CurrentPassword" class="form-control" autocomplete="current-password" /><span asp-validation-for="CurrentPassword" class="text-danger"></span></div></div>
    <div class="form-group"><div class="col-md-offset-3 col-md-6"><button type="submit" class="btn btn-primary">@Text["Shared_Save"]</button> <a asp-action="Detail" asp-route-name="@Model.UserName" class="btn btn-default">@Text["Shared_Back"]</a> @if (User.IsInRole(RoleNames.Administrator)) { <a asp-action="Delete" asp-route-name="@Model.UserName" class="btn btn-danger">@Text["Shared_Delete"]</a> }</div></div>
</form>
